@model VMArticle[]


@Html.SxGridView(Model,
        new SxExtantions.SxGridViewSettings<VMArticle>
        {
            Columns = new SxExtantions.SxGridViewColumn<VMArticle>[]{
                new SxExtantions.SxGridViewColumn<VMArticle>{FieldName="DateOfPublication", Caption="Дата публикации"},
                new SxExtantions.SxGridViewColumn<VMArticle>{FieldName="Title", Caption="Заголовок"},
                new SxExtantions.SxGridViewColumn<VMArticle>{FieldName="Foreword", Caption="Вступление"},
                new SxExtantions.SxGridViewColumn<VMArticle>{FieldName="FilterCategoryTitle", Caption="Категория" },
                new SxExtantions.SxGridViewColumn<VMArticle>{FieldName="FrontPictureId", Caption="Картинка", Template=x=> {
                    return x.FrontPicture==null? null: string.Format("<a data-lightbox=\"roadtrip\" data-title=\"{1}\" data-toggle=\"tooltip\" title=\"Помотреть картинку\" href=\"/pictures/picture/{0}\"><i class=\"fa fa-picture-o\"></i></a>", x.FrontPicture.Id, x.FrontPicture.Caption);
                    } }
            },
            EnableCreating = true,
            CreateRowUrl = Url.Action("Edit", "Articles"),
            EnableEditing = true,
            EditRowUrl = x => { return Url.Action("Edit", "Articles", new { id = x.Id }); },
            DataAjaxUrl = Url.Action("Index", "Articles"),
            ShowPagerInfo = true,
            RowCssClass = x => { return x.Show ? null : "warning"; }
        }
    )