@model string
@{
    var caption = (string)ViewBag.MaterialCategoryTitle;
    Enums.ModelCoreType mct = ViewBag.ModelCoreType;
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@Html.IdForModel()" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = Url.Action("FindTreeView", "MaterialCategories", new { mct=mct }),
    DefaulText = caption == null ? Html.ValueForModel().ToString() : caption,
    Placeholder="Выберите категорию материала"
},
    new object[0]
)
</div>