@model object
@{
    var fieldName = Html.NameForModel().ToString()+"Caption";
    var pictureCaption = ViewData[fieldName];
    var prefix = (string)ViewBag.Prefix;
}

<div id="@Html.IdForModel()">
    <input type="hidden" value="@Html.ValueForModel()" name="@(prefix==null?Html.IdForModel().ToString(): prefix+"."+Html.IdForModel().ToString())" />

    @Html.SxGridLookup(new SxExtantions.SxGridLookupSettings
{
    DataAjaxUrl = Url.Action("FindGridview","Pictures", new { area="Admin"}),
    DefaulText = pictureCaption == null ? Html.ValueForModel().ToString() : pictureCaption.ToString(),
    Placeholder="Выберите изображение"
},
    new object[0]
)
</div>