<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                © 2015 - @DateTime.Now.Year. @MvcApplication.SiteSettingsProvider.Get(Settings.siteName). Все права защищены 
            </div>
            <div class="col-md-6">
                <div class="right">
                    Разработка и поддержка: <a href="mailto:simlex.dev.2014@gmail.com">simlex</a>
                </div>
            </div>
        </div>
    </div>
</footer>
