<div class="share-buttons">
    <div class="text-center">
        <p>Поделиться</p>
        <ul class="list-unstyled list-inline">
            <li>
                <button class="btn goodshare" type="button" data-type="ok">
                    <i class="fa fa-odnoklassniki" aria-hidden="true"></i> Одноклассники <span class="badge" data-counter="ok"></span>
                </button>
            </li>
            <li>
                <button class="btn goodshare" type="button" data-type="vk">
                    <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте <span class="badge" data-counter="vk"></span>
                </button>
            </li>
            <li>
                <button class="btn goodshare" type="button" data-type="fb">
                    <i class="fa fa-fb" aria-hidden="true"></i> Facebook <span class="badge" data-counter="fb"></span>
                </button>
            </li>
            <li>
                <button class="btn goodshare" type="button" data-type="tw">
                    <i class="fa fa-twitter" aria-hidden="true"></i> Twitter <span class="badge" data-counter="tw"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
