@model SxVMSeoTags[]
@{
    ViewBag.Title = "Адресные SEO теги";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="alert alert-info">
    <strong>Информация!</strong> На этой странице задаются поисковые теги для любой страницы сайта. Теги, заданные на этой странице, являются переопределяющими, т.е. если для какой-то страницы сайта в этом разделе заданы теги, то теги страницы переопределяться заданными здесь.
</div>

<div class="alert alert-warning">
    <strong>Внимание!</strong> Если изменен строковый ключ материала, - измениться его каноническая ссылка. Поэтому при изменении строкового ключа необходимо заменить адрес страницы в этом разделе в соответствии со вновь сформированной ссылкой.
</div>

<div id="grid-seo-tags">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-seo-tags').sx_gv();
        });
    </script>
}