@model SxVMSeoTags[]
@{
    ViewBag.Title = "Адресные SEO теги";
}

<h2>@ViewBag.Title</h2>
<br />
<div id="grid-seo-tags">
    @Html.Partial("_gridview", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-seo-tags').sx_gv();
        });
    </script>
}