@model SxVMMaterialCategory[]
@{
    ViewBag.Title = "Категории статей";
}

<h1>@ViewBag.Title</h1>

<div id="grid">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $('#grid').sx_gv();
    </script>
}