@model VMSituation[]
@{
    ViewBag.Title = "Стиуции, в которых можно помоч";
}

<h1>@ViewBag.Title</h1>

<div id="grid">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            var gv = new SxGridView('#grid');
        });
    </script>
}