@model SxVMRequest[]
@{
    ViewBag.Title = "Статистика запросов";
}

@section styles{
    <link href="~/Areas/Admin/content/dist/css/morris.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>
<br />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Данные</a></li>
    <li role="presentation"><a href="#graf" aria-controls="graf" role="tab" data-toggle="tab">Графики</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data">
        <br />
        <div id="grid-requests">
            @Html.Partial("_GridView", Model)
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="graf">
        <br />
        <div class="alert alert-info">
            <strong>Информация!</strong> Графики разработаны с помощью <a href="https://morrisjs.github.io/morris.js/"><b>https://morrisjs.github.io/morris.js/</b></a>
        </div>
        <h4>Статистика за последний месяц</h4>
        <div id="request-stat" style="height: 250px;"></div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/content/dist/js/raphael.min.js"></script>
    <script src="~/Areas/Admin/content/dist/js/morris.min.js"></script>
    <script>
        $(function () {
            $('#grid-requests').sx_gv();

            $('a[href="#graf"]').on('shown.bs.tab', function (e) {
                $.ajax({
                    url: '@Url.Action("DateStatistic", "Requests")',
                    method: 'get',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('#request-stat').html('');
                    },
                    success: function (data) {
                        new Morris.Bar({
                            element: 'request-stat',
                            data: data,
                            xkey: 'DateCreate',
                            ykeys: ['Count'],
                            labels: ["Количество:"],
                            xLabelFormat: function (o) {
                                var d = new Date(parseInt(o.label.substring(6)));
                                return d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
                            }
                        });
                    }
                });
            })
        });
    </script>
}