@model dynamic
@{
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" id="matModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                <div class="button-group">
                    <button type="button" onclick="resizeModal(this)" data-mode="lg" class="btn btn-sm btn-default"><i class="fa fa-desktop"></i></button>
                    <button type="button" onclick="resizeModal(this)" data-mode="xs" class="btn btn-sm btn-default"><i class="fa fa-laptop"></i></button>
                    <button type="button" onclick="resizeModal(this)" data-mode="sm" class="btn btn-sm btn-default"><i class="fa fa-mobile"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>