@model SxVMPicture[]

@Html.SxGridView(Model, new SxExtantions.SxGridViewSettings<SxVMPicture> {
    Columns=new SxExtantions.SxGridViewColumn<SxVMPicture>[] {
        new SxExtantions.SxGridViewColumn<SxVMPicture> { FieldName="DateCreate", Caption="Дата занесения в БД" },
        new SxExtantions.SxGridViewColumn<SxVMPicture> { FieldName="Caption", Caption="Наименование" },
        new SxExtantions.SxGridViewColumn<SxVMPicture> { FieldName="Size", Caption="Размер, kB", Template=x=> {
            return Math.Round((decimal)x.Size/1024, 2).ToString();
        } },
        new SxExtantions.SxGridViewColumn<SxVMPicture>{FieldName="Id", Caption="Картинка", Template=(p)=> {
                return string.Format("<a data-lightbox=\"roadtrip\" data-title=\"{1}\" data-toggle=\"tooltip\" title=\"Помотреть картинку\" href=\"/pictures/picture/{0}\"><i class=\"fa fa-picture-o\"></i></a>", p.Id, p.Caption);
            }, ColumnCssClass=x=> {return "center-h-v"; } }
    },
    DataAjaxUrl=Url.Action("FreePictures", "Pictures"),
    ShowPagerInfo=true
})
