@model SxVMPicture[]
@{
    ViewBag.Title = "Фото-контент";
}

@section styles{
    <link href="~/content/dist/css/lightbox.min.css" rel="stylesheet" />
}



<h2>@ViewBag.Title</h2>
<div class="alert alert-warning">
    <strong>Внимание!</strong> При добалении изображений не допускайте разрастания базы данных. Размер добавляемого файла не должен превышать <b>150 kB</b>. Перед добавлением рекомендуется сжать изображение специализированным online-сервисом (например <a href="http://resizepiconline.com" rel="nofollow" target="_blank"><b>http://resizepiconline.com</b></a>)
</div>
<div id="grid-pictures">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script src="~/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            $('#grid-pictures').sx_gv();
        });
    </script>
}