@model SxVM301Redirect[]
@{
    ViewBag.Title = "301 редирект";
}

<h2>@ViewBag.Title</h2>
<div class="alert alert-warning">
    <strong>Внимание!</strong> В силу невозможности отследить все битые ссылки рекомендуется заменять редирект для всех страниц, уже прошедших индексацию
</div>

<div id="grid-301-redirects">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-301-redirects').sx_gv();
        });
    </script>
}