@model VMQuestion
@{
    ViewBag.Title = ViewBag.Title ?? "Задать вопрос или записаться";
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
}

@section intro{
    Оставить заявку
}

<div id="question">
    @Html.Partial("_Add", Model)
</div>


@section scripts{
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate.unobtrusive"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.unobtrusive-ajax"})"></script>
}